<%= form_for(@user, as: resource_name, url: registrations_path, html: {class: "form form-large form-signin"}) do |f| %>
  <h2 class="text-center">Sign Up</h2>

  <div class="form__item">
    <%= f.label "What's your name?" %>
    <%= f.text_field :name, placeholder: 'Ryan Kulp', required: true, autofocus: true, class: 'form__input' %>
  </div>

  <div class="form__item">
    <%= f.label "What's your Email?" %>
    <%= f.text_field :email, placeholder: 'ryan@fomo.com', required: true, autofocus: true, class: 'form__input' %>
  </div>

  <div class="form__item">
    <%= f.label 'Choose a Password' %>
    <%= f.text_field :password, type: 'password', required: true, class: 'form__input' %>
  </div>

  <div class="form-actions">
    <%= link_to "Go Back", root_path, class: "button button--secondary button--color-secondary" %>
    <%= f.submit "Sign up", class: "button" %>
  </div>
<% end %>
