<div class="py-4 px-2">
  <nav class="flex items-center justify-between flex-wrap">
    <div class="flex items-center flex-no-shrink text-white mr-6">
      <% logo_path = current_user ? dashboard_index_path : root_path %>
      <%= link_to logo_path do %>
        <%= image_tag "avatar.png",  style: "max-height: 28px" %>
      <% end %>
      <span class="font-semibold text-xl tracking-tight">SpaceBot</span>
    </div>
    <div class="block sm:hidden">
      <button class="navbar-burger flex items-center px-3 py-2 border rounded text-white border-white hover:text-white hover:border-white">
          <svg class="text-black fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div id="main-nav" class="w-full flex-grow sm:flex text-right sm:w-auto hidden">
      <div class="text-sm sm:flex-grow">
        <% contact_url = 'https://twitter.com/intent/tweet?text=@ryanckulp%20question...' %>
        <% if current_user %>
          <%= link_to 'Contact', contact_url, target: '_blank', class: 'no-underline font-bold block mt-4 sm:inline-block sm:mt-0 text-grey-lighter hover:text-grey-light mr-4'  %>
          <%= link_to 'Logout', logout_path, class: 'no-underline font-bold block mt-4 sm:inline-block sm:mt-0 text-grey-lighter hover:text-grey-light mr-4' %>
        <% else %>
          <%= link_to 'Contact', contact_url, target: '_blank', class: 'no-underline font-bold block mt-4 sm:inline-block sm:mt-0 text-grey-lighter hover:text-grey-light mr-4'  %>
          <%= link_to 'Signup', new_user_registration_path, class: 'no-underline font-bold block mt-4 sm:inline-block sm:mt-0 text-grey-lighter hover:text-grey-light mr-4' %>
          <%= link_to 'Login', new_user_session_path, class: 'no-underline font-bold block mt-4 sm:inline-block sm:mt-0 text-grey-lighter hover:text-grey-light mr-4' %>
        <% end %>
      </div>
    </div>
  </nav>
</div>

<script type="text/javascript">
  // Navbar Toggle
document.addEventListener('DOMContentLoaded', function () {

  // Get all "navbar-burger" elements
  var $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

  // Check if there are any navbar burgers
  if ($navbarBurgers.length > 0) {

    // Add a click event on each of them
    $navbarBurgers.forEach(function ($el) {
      $el.addEventListener('click', function () {

        // Get the "main-nav" element
        var $target = document.getElementById('main-nav');

        // Toggle the class on "main-nav"
        $target.classList.toggle('hidden');

      });
    });
  }
});
</script>
