<% meta title: "Terms of Service", description: "Read our terms of service." %>

<div class="max-w-3xl mx-auto relative pt-6 pb-16 sm:pb-24">
  <h1 class="text-center text-2xl tracking-tight font-extrabold text-gray-900 sm:text-3xl md:text-4xl">Website Terms and Conditions of Use</h1>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">1. Terms</h2>

  <p class="mt-2 text-gray-600">By accessing this Website, accessible from <%= ENV['BASE_URL'] %>, you are agreeing to be bound by these Website Terms and Conditions of Use and agree that you are responsible for the agreement with any applicable local laws. If you disagree with any of these terms, you are prohibited from accessing this site. The materials contained in this Website are protected by copyright and trade mark law.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">2. Use License</h2>

  <p class="mt-2 text-gray-600">Permission is granted to temporarily download one copy of the materials on <%= ENV['COMPANY_NAME'] %>'s Website (d/b/a <%= ENV['COMPANY_NAME'] %>) for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:</p>

  <ul class="mt-2 text-gray-600 list-disc">
      <li>modify or copy the materials;</li>
      <li>use the materials for any commercial purpose or for any public display;</li>
      <li>attempt to reverse engineer any software contained on <%= ENV['COMPANY_NAME'] %>'s Website;</li>
      <li>remove any copyright or other proprietary notations from the materials; or</li>
      <li>transferring the materials to another person or "mirror" the materials on any other server.</li>
  </ul>

  <p class="mt-2 text-gray-600">This will let <%= ENV['COMPANY_NAME'] %> terminate upon violations of any of these restrictions. Upon termination, your viewing right will also be terminated and you should destroy any downloaded materials in your possession whether it is printed or electronic format. These Terms of Service has been created with the help of the <a href="https://www.termsofservicegenerator.net">Terms Of Service Generator</a>.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">3. Disclaimer</h2>

  <p class="mt-2 text-gray-600">All the materials on <%= ENV['COMPANY_NAME'] %>'s Website are provided "as is". <%= ENV['COMPANY_NAME'] %> makes no warranties, may it be expressed or implied, therefore negates all other warranties. Furthermore, <%= ENV['COMPANY_NAME'] %> does not make any representations concerning the accuracy or reliability of the use of the materials on its Website or otherwise relating to such materials or any sites linked to this Website.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">4. Limitations</h2>

  <p class="mt-2 text-gray-600"><%= ENV['COMPANY_NAME'] %> or its suppliers will not be hold accountable for any damages that will arise with the use or inability to use the materials on <%= ENV['COMPANY_NAME'] %>’s Website, even if <%= ENV['COMPANY_NAME'] %> or an authorize representative of this Website has been notified, orally or written, of the possibility of such damage. Some jurisdiction does not allow limitations on implied warranties or limitations of liability for incidental damages, these limitations may not apply to you.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">5. Revisions and Errata</h2>

  <p class="mt-2 text-gray-600">The materials appearing on <%= ENV['COMPANY_NAME'] %>'s Website may include technical, typographical, or photographic errors. <%= ENV['COMPANY_NAME'] %> will not promise that any of the materials in this Website are accurate, complete, or current. <%= ENV['COMPANY_NAME'] %> may change the materials contained on its Website at any time without notice. <%= ENV['COMPANY_NAME'] %> does not make any commitment to update the materials.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">6. Links</h2>

  <p class="mt-2 text-gray-600"><%= ENV['COMPANY_NAME'] %> has not reviewed all of the sites linked to its Website and is not responsible for the contents of any such linked site. The presence of any link does not imply endorsement by <%= ENV['COMPANY_NAME'] %> of the site. The use of any linked website is at the user’s own risk.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">7. Site Terms of Use Modifications</h2>

  <p class="mt-2 text-gray-600"><%= ENV['COMPANY_NAME'] %> may revise these Terms of Use for its Website at any time without prior notice. By using this Website, you are agreeing to be bound by the current version of these Terms and Conditions of Use.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">8. Your Privacy</h2>

  <p class="mt-2 text-gray-600">Please read our <%= link_to 'Privacy Policy', privacy_path, class: "font-medium text-primary-500" %>.</p>

  <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-gray-900">9. Governing Law</h2>

  <p class="mt-2 text-gray-600">Any claim related to <%= ENV['COMPANY_NAME'] %>'s Website shall be governed by the laws of us without regards to its conflict of law provisions.</p>
</div>
