<!DOCTYPE html>
<html>
  <head>
    <%= metamagic site: ENV['COMPANY_NAME'], title: [:site, :title], separator: " | " %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>

  <body>
    <main class="container mx-auto mt-14 px-6">
      <%= render "shared/flash" %>
      <%= render "shared/header" %>
      <%= yield %>
    </main>

    <%= render partial: "shared/script_tags" %>
  </body>
</html>
