<!DOCTYPE html>
<html>
<head>
  <!-- Customize the site name here and page names inside each view -->
  <%= metamagic site: "Speedrail", title: [:site, :title], separator: " | " %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application', media: 'all' %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
</head>
<body class="container mx-auto">
  <%= render "shared/header" %>
  <%= render "shared/flash" %>

  <%= yield %>
</body>
<footer>
  <%= render "shared/footer" %>
</footer>
</html>
